.app-header {
  margin-bottom: var(--spacing-xlarge);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xlarge);

  &__title {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-extra-bold);

  }

  &__actions {
    display: flex;
  }
}
