* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding: var(--spacing-large) 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-large);
}
