:root {
  --color-primary: #3856dd;
  --text-color: #242424;
  --font-family: 'Inter', sans-serif;

  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;

  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
}