:root {
  --color-primary: #3856dd;
  --color-primary-dark: #2a46a5;
  --color-primary-light: #4a68e6;

  --text-color: #242424;
  --text-color-inverse: #FFFFFF;

  --background-color: #FFFFFF;
  --background-color-inverse: #242424;
  --background-color-inverse-light: #484646;
  --background-color-accent: #f6f6f6;

  --font-family: 'Inter', sans-serif;

  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --spacing-xxlarge: 48px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
}