:root {
  --font-family: 'Inter', sans-serif;

  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --spacing-xxlarge: 48px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
}

.light-mode {
  --color-primary: #3856dd;
  --color-primary-dark: #2a46a5;
  --color-primary-light: #4a68e6;

  --text-color: #242424;
  --text-color-inverse: #FFFFFF;
  --text-color-sidebar: #FFFFFF;
  --text-color-light: #c9c9c9;
  --text-color-white: #FFFFFF;
  --text-color-gray: #808080;

  --background-color: #FFFFFF;
  --background-color-light: #f6f6f6;
  --background-color-secondary: #242424;
  --background-color-inverse: #242424;
  --background-color-inverse-light: #484646;
  --background-color-accent: #f6f6f6;
  --background-color-sidebar: #242424;

  --border-color: #e6e6e6;
}

.dark-mode {
  --color-primary: #3856dd;
  --color-primary-dark: #2a46a5;
  --color-primary-light: #4a68e6;

  --text-color: #FFFFFF;
  --text-color-inverse: #242424;
  --text-color-light: #c9c9c9;
  --text-color-sidebar: #FFFFFF;
  --text-color-white: #FFFFFF;

  --background-color: #242424;
  --background-color-light: #2d2d2d;
  --background-color-secondary: #1a1a1a;
  --background-color-inverse: #FFFFFF;
  --background-color-inverse-light: #484646;
  --background-color-accent: #f6f6f6;
  --background-color-sidebar: #1a1a1a;
  --border-color: rgba(230, 230, 230, 0.1);
}
