.top-albums {
  &-header {
    margin-bottom: var(--spacing-xlarge);

    &__title {
      font-size: var(--font-size-xlarge);
      font-weight: 900;
      margin-bottom: var(--spacing-medium);
    }
  }
}
