.album-tile {
  position: relative;

  &__image {
    position: relative;
    width: 100%;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    margin-bottom: var(--spacing-small);

    &-inner {
      object-fit: cover;
      width: 100%;
      display: block;
    }
  }

  &__favorite-button {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);
    padding: var(--spacing-extra-small);
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
  }

  &__title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-extra-bold);
    margin-bottom: var(--spacing-extra-small);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__artist {
    font-size: var(--font-size-xsmall);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__release-year {
    font-size: var(--font-size-xsmall);
  }
}
