.album-tiles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-large) var(--spacing-medium);

  &__empty {

    &-text {
      font-size: var(--font-size-small);
      color: var(--text-color-light);
    }
  }
}

@media (max-width: 576px) {
  .album-tiles-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

