.app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 264px;
  background-color: var(--background-color-sidebar);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 100;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-medium);
    height: 64px;

    &__app-name {
      font-weight: var(--font-weight-extra-bold);
      font-size: var(--font-size-medium);
      color: var(--text-color-sidebar);
    }

    &__button {
      background: none;
      border: none;
      align-items: center;
      justify-content: center;
      padding: var(--spacing-small);
      cursor: pointer;
      display: none;
    }
  }


  &-nav {
    padding: var(--spacing-medium) var(--spacing-small);

    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-extra-small);
    }

    &__link {
      display: flex;
      align-items: center;
      gap: var(--spacing-medium);
      text-decoration: none;
      padding: var(--spacing-medium) var(--spacing-small);
      background-color: transparent;
      border-radius: var(--border-radius-medium);
      transition: background-color 0.2s ease;

      &.router-link-active {
        background-color: var(--color-primary);

        &:hover {
          background-color: var(--color-primary-light);
        }
      }

      &:hover {
        background-color: var(--background-color-inverse-light);
      }

      &-text {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);
        color: var(--text-color-sidebar);
      }
    }
  }
}

// Media

@media (max-width: 768px) {
  .app-sidebar {
    transform: translate3d(-248px, 0, 0);
    will-change: transform;
    width: 248px;

    &--is-active {
      transform: translate3d(0, 0, 0);
    }

    &-header {
      &__button {
        display: flex;
      }
    }

    &-overlay {
      position: fixed;
      top: 64px;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;

      &--is-active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

