.app-top-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  left: 264px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-large);
  z-index: 98;

  &__button {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-small);
    cursor: pointer;
    display: none;
  }

}

// Media

@media (max-width: 768px) {
  .app-top-navigation {
    left: 0;

    &__button {
      display: flex;
    }
  }
}
