.home-page {
  &-header {
    margin-bottom: var(--spacing-xlarge);

    &__title {
      font-size: var(--font-size-xlarge);
      font-weight: var(--font-weight-extra-bold);
    }
  }

  &-section {
    margin-bottom: var(--spacing-xxlarge);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing-medium);
    }

    &__title {
      font-size: var(--font-size-large);
      font-weight: var(--font-weight-bold);

    }
  }
}